{% extends "base/base.html" %}




{% block title %} Menu Principal {% endblock title %}

{% block content %}
    
    <h1> ----- Bienvenido a la NFL Network -----</h1>
    <br>
    <h3> ¿Que es la NFL Network? </h3>
    <br>
    <p>
        La NFL Network surge como respuesta a la problemática que implica la gestión
        de registros de estadios, equipos y ciudades, abordando así la dificultad que
        se presenta en este ámbito mediante la creación de este sitio web.
    </p>
    <br>
    <h3> ¿Que Ofrece la NFL Network? </h3>
    <br>
    <p>
        En este sitio web, tendrás la oportunidad de mejorar la gestión de:
        <ul>
            <li>
                sistema de estadios
            </li>
            <li> 
                equipos
            </li>
            <li>
                ciudades
            </li>
        </ul>
        que esten vinculados o relacionados a la NFL.
    </p>
    
{% endblock content %}