{% extends "base/base.html" %}

{% block title %}
  Eliminar Ciudades
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Quieres borrar los datos de la ciudad?: {{ object }}?
        <button type="submit" class="btn btn-outline-danger">Borrar</button>
        <a href="{% url 'core:c_list'%}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}