

{% extends 'base/base.html' %}

{% block title %} Lista de Ciudades {% endblock title %}

{% block content %}


    <a href="{% url 'core:c_create' %}" class="btn btn-outline-success form-control">Crear nueva ciudad</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>CIUDAD</th>
            <th>EQUIPOS</th>
            <th>USER</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for c in ciudades %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.ciudad }}</td>
                    <td>{{ c.equipos }}</td>
                    <td>{{ c.user }}</td>
                    <td><a href="{% url 'core:c_detail' c.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:c_update' c.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:c_delete' c.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}