{% extends "base/base.html" %}

{% block title %}
  Crear nuevo Equipo
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Crear nuevo equipo</button>
        <a href="{% url 'core:e_list' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}