
{% extends 'base/base.html' %}

{% block title %} Lista de Equipos {% endblock title %}

{% block content %}


    <a href="{% url 'core:e_create' %}" class="btn btn-outline-success form-control">Crear nuevo Equipo</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>EQUIPO</th>
            <th>CIUDAD</th>
            <th>GANADOS</th>
            <th>LIGA</th>
            <th>PERDIDOS</th>
            <th>USER</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for e in equipos %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.equipo }}</td>
                    <td>{{ e.ciudad }}</td>
                    <td>{{ e.ganados }}</td>
                    <td>{{ e.liga }}</td>
                    <td>{{ e.perdidos }}</td>
                    <td>{{ e.user }}</td>
                    <td><a href="{% url 'core:e_detail' e.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:e_update' e.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:e_delete' e.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}