{% extends "base/base.html" %}

{% block title %}
  Actualizar partido
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Actualizar datos</button>
        <a href="{% url 'core:e_list' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}