{% extends "base/base.html" %}

{% block title %}
  Crear nuevo estadio
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Crear nuevo estadio</button>
        <a href="{% url 'core:es_list' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}