{% extends "base/base.html" %}

{% block title %}
  Eliminar Estadio
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Quieres borrar los datos del estadio: {{ object }}?
        <button type="submit" class="btn btn-outline-danger">Borrar</button>
        <a href="{% url 'core:es_list'%}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}