

{% extends 'base/base.html' %}

{% block title %} Lista de estadios {% endblock title %}

{% block content %}


    <a href="{% url 'core:es_create' %}" class="btn btn-outline-success form-control">Crear nuevo estadio</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>ESTADIO</th>
            <th>CIUDAD</th>
            <th>EQUIPOS</th>
            <th>USER</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for es in estadios %}
                <tr>
                    <td>{{ es.id }}</td>
                    <td>{{ es.estadio }}</td>
                    <td>{{ es.ciudad }}</td>
                    <td>{{ es.equipos }}</td>
                    <td>{{ es.user }}</td>
                    <td><a href="{% url 'core:es_detail' es.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:es_update' es.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:es_delete' es.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}