{% extends "base/base.html" %}

{% block title %}
  Crear nuevo partido
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Crear nuevo partido</button>
        <a href="{% url 'core:p_list' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}