{% extends "base/base.html" %}

{% block title %}
  Eliminar Partidos
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Quieres borrar los datos del partido: {{ object.local }} vs {{ object.visitante }}?
        <button type="submit" class="btn btn-outline-danger">Borrar</button>
        <a href="{% url 'core:p_list'%}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}