

{% extends 'base/base.html' %}

{% block title %} Lista de partidos {% endblock title %}

{% block content %}


    <a href="{% url 'core:p_create' %}" class="btn btn-outline-success form-control">Crear nuevo partido</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>LOCAL</th>
            <th>VISITANTE</th>
            <th>ESTADIO</th>
            <th>FECHA</th>
            <th>USER</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for p in partidos %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.local }}</td>
                    <td>{{ p.visitante }}</td>
                    <td>{{ p.estadio }}</td>
                    <td>{{ p.fecha }}</td>
                    <td>{{ p.user }}</td>
                    <td><a href="{% url 'core:p_detail' p.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:p_update' p.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:p_delete' p.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}