{% extends "base/base.html" %}

{% block title %}
  Detalles del Empleado
{% endblock title %}

{% block content %}
  <h2>{{ empleado.nombrePila }}</h2>
  <p>Este es el Empleado '{{ empleado.nombrePila }}' que pertenece al Puesto '{{ empleado.puesto.nombre }}'.</p>
  <a href="{% url 'core:list_empleado' %}" class="btn btn-secondary">Volver a la lista de Empleados</a>
{% endblock content %}
