{% extends "base/base.html" %}

{% block title %}
  Lista de Empleados
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Fecha de nacimiento</th>
      <th>Puesto</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_empleado' %}" class="btn btn-success">Crear Empleado</a>
      {% for empleado in Empleados %}
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombrePila }}</td>
          <td>{{ empleado.apPat }}</td>
          <td>{{ empleado.apMat }}</td>
          <td>{{ empleado.fnacimiento }}</td>
          <td>{{ empleado.puesto.nombre }}</td>
          <td>
            <a href="{% url 'core:detail_empleado' empleado.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_empleado' empleado.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_empleado' empleado.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
